       ______               ____                 __
      / / __ \__________   / __ \___  ____ _____/ /__  _____
 __  / / /_/ / ___/ ___/  / /_/ / _ \/ __ `/ __  / _ \/ ___/
/ /_/ / _, _(__  |__  )  / _, _/  __/ /_/ / /_/ /  __/ /
\____/_/ |_/____/____/  /_/ |_|\___/\__,_/\__,_/\___/_/

    Choose an option below:

        1) Pull live feed
        2) Add a bookmark
        3) Show my bookmarks
        4) Read a bookmark
        5) Delete a bookmark
        6) Delete all bookmarks
